@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }
  .about-containers {
    flex-wrap: wrap;
  }
  #contact,
  #projects {
    height: fit-content;
  }
}

@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }
  #profile,
  .section-container {
    display: block;
  }
  .arrow {
    display: none;
  }
  section,
  .section-container {
    height: fit-content;
  }

  .text-container p{
    font-size: 26px;
  }
  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 2rem auto 3rem;
  }
  .about-containers {
    margin-top: 0;
  }
}

@media screen and (max-width: 600px) {
  #contact,
  footer {
    height: 92vh;
  }
  .details-container p{
  font-size: 20px;
  }

  section#about{
    height: 120vh;
  }
  #about h1{
    font-size: 2.5rem;
  margin-bottom: 10px;
padding: 0 0 5px 0;}

  #about .section__text__p1{
    font-size: 21px;
  }

  
  #profile {
    height: 83vh;
    margin-bottom: 0;
  }
  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }
  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }
  .contact-info-container {
    margin: 0;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .section__pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }
  .section__text__p2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
  }
  .text-container {
    text-align: justify;
  }

    .drpdwnbtn{
        display: block;
        height: 40px;
        width: 100px;
        background:url(menu.png) no-repeat 98% center;
        background-size:contain;
        border: none;
        outline: none;
        margin-left: -3px;
        cursor: pointer;
        z-index: 1;
    }
   .navbar .navItems{
        flex-direction: row;
        align-items: flex-start;
        margin: 10px;
    }
    .navbar{width:100%;}

    .contactBox{
        border: 0;
    }

    .contactMe{
        font-size: 17px;
        margin-right: 36px;
        background-color: var(--grey);
        width: 100px;
        padding: 6px;
        margin-top: -6px;
    }
    .leftLs{
        flex-direction: column;
        margin-left: -15px;
        width: auto;
        
    }

    .nameCity{
        display: none;
    }
    li{
    font-size: 15x;
     padding: 5px;}

.navItems .listItems{
    overflow: hidden;
    height: 0;
    flex-direction: column;
    align-items: self-end;
    display: none;
}
.navItems a{
    font-size: 15px;
}
.newList{
    position: absolute;
    background-color: var(--grey);
    list-style: none; 
    left: 50px;
    width: 180px;
    height: auto; 
    margin-top: 5px;           
}
.newList li{
    padding: 10px;
    margin: 10px;
}

.navItems .listItems.open{
    overflow: visible;
}
.nameCityMobile{
    display: block;
    position: relative;
    left: 70px;
    width: 125%;
    margin-top: 10px;
    font-size: 16px;
}
    
h1.title{
    margin-top: 110px;
    font-size: 70px;
    font-weight: 900;
    font-family: 'roboto';
    width: 100%;
}

h6.realTitle{
    font-size: 34px;
}
.aboutMe{
    width: 95%;
    margin: auto;
    margin-top: 80px;
}

.aboutMe p {
        font-size: 28px;
        font-weight: 300;
        text-align: center;
}

.gallery .sectionHeading h1{
    font-size: 2rem;
}
.galleryContainer{
    display: flex;
    flex-direction: column;
}


.galleryItem1,.galleryItem2,.galleryItem3{
    margin: 10px;
    width: 350px;
}
div.modal#myModal{
    width: 100%;
}
.footerContainer{
    display: inline-block;
    width:100%;
    margin: auto;
}

.footerContainer .title{
    width: 50%;
    margin-left: 40px;
}
.footerContainer .coreSkills ul{
    margin-left: 80px;
    width: 50%;
}

.footerContainer .linksContainer ul {
    width: 50%;
    margin-left: 50px;
}
.footerContainer .connectWithUs ul{
    margin-left: 50px;
    margin-bottom: 50px;
    width: 50%;
}

.copyright h3{
    font-size: 15px;

}
.contactMe{display:none}

}
@media screen and (max-width:500px) {
  section#about{
height: 135vh;
  }
}
@media screen and (max-width:439px){
    
section#about{
  height: 150vh;
}
}

@media (max-width: 430px) {
  .contactBox .contactMe{ 
   margin-top:-7px;
   width:120px;}
   
   .container .navbar{
       height: 70px;
   }
   .titleInfo .aboutMe{
       margin-top: 40px;
   }
.background .titleInfo .title {
  margin-top: 100px;
}
  .titleInfo .aboutMe p{
       font-size: 22px;
   }

   

   nav .nameCityMobile{
      font-size: 14.9px;
      margin-right: 6px;
  }
  
  .listItems .leftLs{
      padding: 5px;
  }

  nav .listItems.open{
      margin-left: -23px;
  }

  section#about{
      height: 150vh;
  }   
  
  div.text-container{
      font-size: 22px;
  }

  .galleryContainer .galleryItem1,
  .galleryContainer .galleryItem2,
  .galleryContainer .galleryItem3{
      width: 350px;
      margin: 15px;
  }

  .gallery .galleryContainer .galleryItem1 .button,
  .gallery .galleryContainer .galleryItem2 .button,
  .gallery .galleryContainer .galleryItem3 .button{
display: none;
  }
  .gallery .galleryContainer .galleryItem1:hover .button,
  .gallery .galleryContainer .galleryItem2:hover .button,
  .gallery .galleryContainer .galleryItem3:hover .button{
      display: flex;
  }

  .galleryItem1 .button button a,
  .galleryItem2 .button button a,
  .galleryItem3 .button button a{
      font-size: 14px;
      padding: 10px;
  }
  .galleryItem1:hover,.galleryItem2:hover,.galleryItem3:hover{
      transform: none;
}

}

@media screen and (max-width:412px){
  section#about{
    height: 160vh;
  }
}
@media screen and (max-width:390px) {
  .background .titleInfo .aboutMe p{
        font-size: 20px;
    }
    .titleInfo h1.title{
        font-size: 35px;
        margin-top: 200px;
    }

    
   nav .nameCityMobile{
        font-size: 14.9px;
        margin-right: 6px;
    }
    
    .listItems .leftLs{
        padding: 5px;
    }

    nav .listItems.open{
        margin-left: -23px;
    }

    section#about{
        height: 170vh;
    }

    .gallery .galleryContainer .galleryItem1,
    .gallery .galleryContainer .galleryItem2,
    .gallery .galleryContainer .galleryItem3{
        width: 320px;
        margin: 10px;
    }

    .gallery .galleryContainer .galleryItem1 .button,
    .gallery .galleryContainer .galleryItem2 .button,
    .gallery .galleryContainer .galleryItem3 .button{
display: none;
    }

    .gallery .galleryContainer .galleryItem1 .button button a,
    .gallery .galleryContainer .galleryItem2 .button button a,
    .gallery .galleryContainer .galleryItem3 .button button a{
        font-size: 14px;
        padding: 10px;
    }
    .galleryItem1:hover,.galleryItem2:hover,.galleryItem3:hover{
        transform: none;
  }

}
@media screen and (max-width:362px) {
  section#about{
    height: 200vh;
  }
  
}






