@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --lightgrey: #8a8a8a;
    --grey : #747474;
    --white: #fff;
    --darkgrey: #4b4b4b;
    --darkergrey: #3e3e3e;
    --dark: #313131;
    --darkest :#242424;
}

*{padding: 0;
margin: 0;
box-sizing: border-box;}


body{font-family: 'inter',sans-serif;
width: 100%;
height: 100vh;}

.navbar{
    display: flex;
    width: 100%;
    background-color:var(--grey);
    z-index: 2;
}
.navItems{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 20px;
}

.contactMe{
    margin-right: 70px;
    color: var(--white);
}
.leftLs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
    list-style: none;
    width: 200px;
    margin:0 70px 0 70px;
    color:white;

}
.nameCity{
    color: var(--white);
}

.contactBox{
    border: 2px solid var(--lightgrey);
    padding :10px;
    margin-top: -10px;
}

.container {
    position: relative;
    overflow: hidden;
     min-height: 100vh;
    width:100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    flex-direction: column;
    background-blend-mode: screen;
    background-color: #131217;
}

/*.container::before {
    content:"";
    position: absolute;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
    background-color: var(--darkergrey);
    background-image: 
        linear-gradient(black 0.8rem, transparent 0.8rem),
        linear-gradient(90deg, black 0.5rem, transparent 0.5rem);
    background-size: 5rem 5rem;
    opacity: 0.4;
}*/

.background{
    position: absolute;
    right:0;
    bottom: 0;
    z-index: 0;
    overflow: hidden;
    width: 100%;
    height:100vh;
    z-index: 0;
}

#gradient{
    position: absolute;
    width: 600px;
    height: 600px;
    border-radius: 50%;
    background: radial-gradient(circle, #ff8811, transparent 50%);
    pointer-events: none;
    z-index: 0;
    left: -200px;
    top: -200px;
    opacity: 0.4;
}
/*.container::before:hover{
    content:"";
    position: absolute;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
    background-color: var(--darkergrey);
    background-image: 
        linear-gradient(var(--lightgrey) 0.8rem, transparent 0.8rem),
        linear-gradient(90deg, var(--lightgrey) 0.5rem, transparent 0.5rem);
    background-size: 5rem 5rem;
    opacity: 1;    
}*/

.title{
    color: var(--lightgrey);
margin-top: 200px;
font-size: 90px;
font-weight: bolder;
font-family: 'roboto' 
;}

p{
    color: var(--darkgrey);
    font-size: 30px;
    word-wrap: normal;
    font-family: 'roboto';
    font-weight: 300;
    text-align: center;
}

.titleInfo{
    display: flex;
    justify-content: center;
    justify-items:center;
    flex-direction: column;
    margin-top: 100px;
    text-align: center;
    width: 100%;
    position: absolute;
    z-index: 1;

}

.gallery{
    background-color: #131217;
    position: relative;
    z-index: -1;
}
.aboutMe{
    display: flex;
    justify-content: center;
    align-items:center;
    width: 75%;
    margin: 70px auto auto auto;
}

.hardSkills{
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
}

.skill{
    width: 2in;
    height: auto;
    margin:200px auto auto auto; 
    text-align: center;
    font-size: 20px; 
    padding: 10px;
}
.hardSkills .React, .hardSkills .JavaSCript{
    width: 2.5in;
}

.skill img{
    width:1in;
    padding: 20px;
    align-items: center;   
}
.skill h6{
    align-items: center;
    font-size: bold;
    margin-block-start: 8px;
    margin-block-start: 5px;
}


.nameCityMobile {
    display: none;
}
.listItems{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.drpdwnbtn,h2 {
    display: none;
}

.thinline{
    width: 100%;
    border: var(--lightgrey) 2px solid;
}
section.gallery{
    margin-top: -30px;
}

.sectionHeading{
    margin-top: 30px;
    display: flex;
justify-content: center;
}

.sectionHeading h1{
    font-weight: 700;
    font-family: "poppins";
    color:var(--lightgrey);
    width: 300px;
    text-align: center;
    border-bottom: 3px solid var(--white);
    font-size: 2rem;
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
    padding: 10px 0;
    text-transform: uppercase
}  

.gallery h3{
    color: var(--lightgrey);
    

}
.galleryContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.galleryItem1,.galleryItem2,.galleryItem3{
    display: flex;
    flex-direction: column;
    margin: 15px;
    border: var(--grey) solid 2px;
    justify-content: center;
    width: 500px;
    height: auto;
    align-items: center;
    overflow: hidden;
    border-radius: 5px;
    transition: all 0.9s ease;
}

.galleryItem1 img{
    width: 100%;
    height: auto;
        display: block;
        z-index: -1;
        object-fit: contain;
        transition: 0.3s ease;

}
.galleryItem2 img{
    width: 100%;
    height: auto;
        display: block;
        z-index: -1;
        object-fit: contain;
        transition: 0.3s ease;
}
.galleryItem3 img{
    width: 100%;
    height: 100%;
        display: block;
        z-index: -1;
        object-fit: contain;
        transition: 0.3s ease;

}
    /*.kalebalika:hover {
        transform: rotate(20deg) scale(1.1);}*/

       .galleryItem1 .button,.galleryItem3 .button{
            display: none;
            position: absolute;

        }
        .galleryItem2 .button{
            position: absolute;
            display: none;
        }


       .galleryItem3:hover div.button,.galleryItem2:hover div.button, .galleryItem1:hover div.button {
            display: block;
            z-index: 2;
            transition: all 0.9s ease;
         }


        .galleryItem3:hover img, .galleryItem2:hover img, .galleryItem1:hover img{
            opacity: .7;
         }
         
         .galleryItem1:hover,.galleryItem2:hover,.galleryItem3:hover{
               transform: scale(1.1);
         }
         
        .button button{
            border-radius: 5px;
            background-color: var(--white);
            box-shadow: none;
            margin: 20px;
         }
          
         .button .viewGallery{
            border-radius: 5px;
            text-decoration: none;
            font-weight: 400;
            font-size: 15px;
            font-family: "poppins";
            color: var(--darkergrey);
            padding: 3px 17px 3px 17px;
         }

         a{
            text-decoration: none;
            font-weight: 400;
            font-size: 16px;
            font-family: "poppins";
            color: var(--darkergrey);
            padding: 3px 17px 3px 17px;
         }
         .info{
            padding: 5px;
            position: relative;
         }

         .galleryItem2 .info, .galleryItem3 .info{padding: 5px;
            right: 30%;

         }
       .galleryItem2 img{
        margin-top: 10px;
       }
         
       
       .footerContainer {
        background-color: var(--darkgrey);
        display: flex;
        height: auto;
        justify-content: space-around;
        align-items: center;
        

       }


       .modal{
        display: none;
        position: fixed;
        z-index: 1 ;
        padding-top: 100px;
        top: 0;
        left: 0;
        width:100%;
        height:100%;
        overflow: auto;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.9);
       }
       .modal-content{
        position: relative;
        margin: auto;
        padding: 0;
        width: 100%;
        max-width: 700px;
       }

       .close{
        color: white;
        position:absolute;
        top:15px;
        right: 35px;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
       }
       .close:hover,
       .close:focus{
        color: #bbb;
        cursor: pointer;
        text-decoration: none;
       }
       .slides{
        display: none;
       }
       .slides img {
        display: block;
        width: 100%;
        margin: auto;
        height: auto;
       }
       
       .pre, .next{
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -22px;
        color: white;
        font-weight: bold;
        font-size: 20px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
       }

       .next {
        right: 0;
        border-radius: 3px 0 0 3px;
       }
       .next:hover, .pre:hover{
        background-color: rgba(0,0,0,0.9);
       }
 


       footer .title {
        font-size: 20px;
        font-weight: 600;
        text-transform: uppercase;
        border-bottom: 2px solid ;
        margin: 70px auto 30px auto;
        padding: 0 0 5px 0;
        color: var(--white);
    width: 100%;}

        footer .linksContainer li{
            list-style-type: none;
            padding: 10px;
        }
        footer li{
            padding: 10px;
        }
        footer ul{
            width: 100%;
            margin: auto;
        }
        footer .linksContainer ul li a {
            text-decoration: none;
            color: var(--lightgrey);
            display: inline-block;
        }
        footer .linksContainer ul li:hover a,
        footer .coreSkills ul:hover li {
            color: var(--white);
    
        }

        .coreSkills ul li {
            list-style-type:circle;
            text-decoration: none;
            padding: 10px;
        }

        footer .connectWithUs ul{
            list-style-type: none   ;

        }
        .socialMediaIcon{
            color: var(--lightgrey);
        }
        .socialMediaIcon:hover{
            color: var(--white);
        }

        .copyright{
            display: flex;
            justify-content: center;
        }
        .copyright h3{
            padding: 5px;
        }
/*mobile responsive*/

@media (max-width:375px) {
  .background .titleInfo .aboutMe p{
        font-size: 22px;
    }
    .titleInfo h1.title{
        font-size: 40px;
        
    }

   nav .nameCityMobile{
        font-size: 14.9px;
        margin-right: 6px;
    }
    
    .listItems .leftLs{
        padding: 5px;
    }

    nav .listItems.open{
        margin-left: -23px;
    }

    .gallery .galleryContainer .galleryItem1,
    .gallery .galleryContainer .galleryItem2,
    .gallery .galleryContainer .galleryItem3{
        width: 320px;
        margin: 10px;
    }

    .gallery .galleryContainer .galleryItem1 .button,
    .gallery .galleryContainer .galleryItem2 .button,
    .gallery .galleryContainer .galleryItem3 .button{
display: none;
    }

    .gallery .galleryContainer .galleryItem1 .button button a,
    .gallery .galleryContainer .galleryItem2 .button button a,
    .gallery .galleryContainer .galleryItem3 .button button a{
        font-size: 14px;
        padding: 10px;
    }
    .galleryItem1:hover,.galleryItem2:hover,.galleryItem3:hover{
        transform: none;
  }

}

/*@media (max-width:412px){
    .titleInfo .aboutMe p{
        font-size: 27px;
        line-height: unset;
    }
}*/

@media (max-width: 414px){
    .listItems .contactBox .contactMe{
        margin-top: -7px;
    }
    }

    @media (max-width: 430px) {
        .contactBox .contactMe{ 
         margin-top:-7px;
         width:120px;}
         
         .container .navbar{
             height: 70px;
         }
         .titleInfo .aboutMe{
             margin-top: 22px;
         }
     
        .titleInfo .aboutMe p{
             font-size: 28px;
         }

         nav .nameCityMobile{
            font-size: 14.9px;
            margin-right: 6px;
        }
        
        .listItems .leftLs{
            padding: 5px;
        }
    
        nav .listItems.open{
            margin-left: -23px;
        }
    
        .galleryContainer .galleryItem1,
        .galleryContainer .galleryItem2,
        .galleryContainer .galleryItem3{
            width: 350px;
            margin: 15px;
        }
    
        .gallery .galleryContainer .galleryItem1 .button,
        .gallery .galleryContainer .galleryItem2 .button,
        .gallery .galleryContainer .galleryItem3 .button{
    display: none;
        }
        .gallery .galleryContainer .galleryItem1:hover .button,
        .gallery .galleryContainer .galleryItem2:hover .button,
        .gallery .galleryContainer .galleryItem3:hover .button{
            display: flex;
        }
    
        .galleryItem1 .button button a,
        .galleryItem2 .button button a,
        .galleryItem3 .button button a{
            font-size: 14px;
            padding: 10px;
        }
        .galleryItem1:hover,.galleryItem2:hover,.galleryItem3:hover{
            transform: none;
      }
    
     }

@media (max-width: 600px) {

    .drpdwnbtn{
        display: block;
        height: 40px;
        width: 100px;
        background:url(menu.png) no-repeat 98% center;
        background-size:contain;
        border: none;
        outline: none;
        margin-left: -3px;
        cursor: pointer;
        z-index: 1;
    }
   .navbar .navItems{
        flex-direction: row;
        align-items: flex-start;
        margin: 10px;
    }
    .navbar{width:100%;}

    .contactBox{
        border: 0;
    }

    .contactMe{
        font-size: 17px;
        margin-right: 36px;
        background-color: var(--grey);
        width: 100px;
        padding: 6px;
        margin-top: -6px;
    }
    .leftLs{
        flex-direction: column;
        margin-left: -15px;
        width: auto;
        
    }

    .nameCity{
        display: none;
    }
    li{
    font-size: 15x;
     padding: 5px;}

.navItems .listItems{
    overflow: hidden;
    height: 0;
    flex-direction: column;
    align-items: self-end;
    display: none;
}

.newList{
    position: absolute;
    background-color: var(--grey);
    list-style: none; 
    left: 50px;
    width: 180px;
    height: auto; 
    margin-top: 5px;           
}
.newList li{
    padding: 10px;
    margin: 10px;
}

.navItems .listItems.open{
    overflow: visible;
}
.nameCityMobile{
    display: block;
    position: relative;
    left: 70px;
    width: 125%;
    margin-top: 10px;
    font-size: 15.9px;
}
    
h1.title{
    margin-top: 150px;
    font-size: 50px;
    font-weight: 900;
    font-family: 'roboto';
    width: 100%;
}
.aboutMe{
    width: 80%;
    margin: auto;
    margin-top: 50px;
}

.aboutMe p {
        font-size: 25px;
        font-weight: 300;
        text-align: center;
}

.galleryContainer{
    display: flex;
    flex-direction: column;

}

.galleryItem1,.galleryItem2,.galleryItem3{
    margin: 10px;
    width: 350px;

}
.footerContainer{
    display: flex;
    flex-direction: column;
}

.contactMe{display:none}
}

@media (max-width:1024px){

    .galleryContainer{
        flex-direction: column;
    }
}
/*@media (max-width:768px){
    .container .navbar .navItems{
        margin: 14px;
    }
    .leftLs{
        margin-left: 30px;
    }
    li{font-size: 20px;}
    .contactBox{
        display: flex;
        flex: none;
    }
    .contactMe{
        font-size: 20px;
    }
    .title{
        font-size: 82px;
        line-height: 102px;

    }

    .aboutMe {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 94%;
        margin: 18px;
        margin-left: 27px;
        margin-top: 50px;
    }
    .titleInfo{
        margin-top: 70px;
    }

}

/*@media (max-width:1024px){
  .leftLs{
    margin-left: 30px;
  }
  li{
    font-size: 21px;
  }
  .contactMe{
    font-size: 20px;
  }
 .nameCity{
    font-size: 20px;
 }
 .title{
    line-height: 120px;
 }
 .aboutMe{width: 90%;
margin-left: 50px;
}
.aboutMe p{
    font-size: 40px;
}
.titleInfo{margin-top: 70px;}
}
